@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200;300;400;500;600;700;800;900&display=swap');
#root {
  width: 100%;
  background-color: #AC87C5;
  color: #ffffff;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
